img{
    width: 25px;
    height: 25px;
}
div{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
}
button{
    background: transparent;
    color: black;
}
input{
    background: transparent;
    border: none;
    outline: none;
    color: #AA959D;
}
.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: gray;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .button input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }