<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div class="contentMax">
      <div class="contentMin">
        <h2 class="title">Fakebook</h2>
        <p class="subTitle">share with the people who are part of your life.</p>
      </div>

      <div class="contentBtn">

        <button class="btnl" [routerLink]="['/login']">
          Login
        </button>

        <button class="btnr" [routerLink]="['/register']">
          Register
        </button>

      </div>
  </div>
</body>
</html>
