<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div>
    <div class="MaxA">
      <h3 class="title">Fakebook</h3>
    </div>

    <div class="MaxB">
      <div class="content" *ngIf="notifications.length === 0">
        <p>It seems like you don't have any notifications...</p>
      </div>

      <ng-container *ngIf="notifications.length !== 0">
        <div class="content" *ngFor="let not of notifications">
            <app-friends [name]="not.applicant.name" [applicantId]="not.applicant._id"></app-friends>
        </div>
      </ng-container>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
</body>
</html>
