<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div>
    <div class="MaxA">
      <div class="icono-content">
        <button [routerLink]="['/feed']" class="btn-icono">
          <img class="imagee" src="../../../assets/chevron-back-outline.svg">
      </button>
      </div>
      <input type="text"
        (input)="handleSearchInputChange($event)"
        placeholder="Find new friends..."
      >
    </div>
    <div class="MaxB">
        <section *ngFor="let user of usersFound">
          <!-- <button *ngFor="let user of usersFound" (click)="presentModal()">
            {{user.name}}
          </button> -->
          <app-btn-search [user]="user" ></app-btn-search>
        </section>
    </div>
  </div>


  <!-- <ion-modal [isOpen]="isOpen">
    <ng-template>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Nombre</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis alias fugiat asperiores repellat? Ducimus labore ex dolor cumque? Veritatis odio exercitationem cupiditate, voluptate illo officiis non dignissimos suscipit ut perferendis?</p>
          </ion-card-content>
        </ion-card>
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-content>
    </ng-template>
    </ion-modal> -->
</body>
</html>


