<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div>
    <div class="MaxA">
      <div class="icono-content">
        <button [routerLink]="['/feed']" class="btn-icono">
          <img class="imagee" src="../../../assets/chevron-back-outline.svg">
      </button>
      </div>
      <input type="text"
        (blur)="handleSearchInputBlur()"
        (input)="handleSearchInputChange($event)"
        placeholder="Find new friends..."
      >
    </div>
    <div class="MaxB">
        <section *ngFor="let user of usersFound">
          <app-btn-search [user]="user" ></app-btn-search>
        </section>
    </div>
  </div>
</body>
</html>
