<div *ngIf="modalOpen == true" class="modal">
  <app-modal></app-modal>
</div>

<div class="content">
  <div class="descrip-content">
    <div class="day-name">
      <span>last update at {{date}}</span>
      <div class="trash">
        <button (click)="onDeleteClick()">
          <img src="../../../../assets/trash-outline.svg">
        </button>
        <button (click)="onEditClick()">
          <img src="../../../../assets/{{pencilImage}}">
        </button>
      </div>
    </div>
    <ng-container *ngIf="!isEditing; else editMode">
      <p>{{description}}</p>
    </ng-container>
    <ng-template #editMode>
      <input type="text" [(ngModel)]="description">
    </ng-template>
  </div>

  <div class="img-content">
    <div class="img-container" *ngFor="let image of images">
      <img [src]="image" class="img">
      <button class="delete-button" *ngIf="showDeleteButton">
        <img src="../../../../assets/close-outline.svg" class="close-img">
      </button>
    </div>
  </div>

  <div class="like-content">
    <!-- Resto del código... -->
  </div>
</div>
