<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div>
    <div class="MaxA">
      <div class="icono-content">
        <button [routerLink]="['/feed']" class="btn-icono">
          <img src="../../../assets/chevron-back-outline.svg">
      </button>
      </div>
      <div class="ask">
        <h3 class="title">{{userName}}</h3>
      </div>
    </div>

    <div class="add-remove">
      <app-add-friend *ngIf="friendshipExists"></app-add-friend>
      <app-remove-friend *ngIf="!friendshipExists"></app-remove-friend>
    </div>

    <div class="MaxB">
      <div class="content" *ngFor="let userPost of userPosts">
          <div class="descrip-content">
            <p>{{userPost.body}} </p>
          </div>

          <section class="img-sub">
            <img [src]="image" *ngFor="let image of userPost.images" class="img">
          </section>

          <div class="like-content">
            <div class="comments">
              <button (click)="modalOpenHandler()">
                <p class="text-comments" >explore comments</p>
              </button>
            </div>
              <p class="day">{{userPost.createdAt}}</p>
          </div>
      </div>
    </div>

    
  <div class="modal">
    <div *ngIf="modalOpen == true">
      <app-modal [_id]="_id" ></app-modal>
    </div>
  </div>
  </div>
</body>
</html>
