p{
    color: white;
    font-weight: bold;
}
img{
    width: 25px;
    height: 25px;
}
.addFriend{
    background: #80616D; 
    border-radius: 25px;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    height: 35px;
    margin-top: 20px;
}
button:hover{
    background: #4D2959;
}
div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    margin-bottom: 5%;
}