*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: #FFFFFF;
    font-family: "Inter", sans-serif;
  }

  .MaxA{
    margin-top: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
  }

  .MaxB{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }

  .title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, rgb(241, 236, 236),#80616D);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .cont-noti{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 70%;
    border-bottom: 1px solid #4D2959;
    padding-bottom: 5%;
  }

  .sub-conte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  .mini-conte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 120px;
  }

  h6{
    font-size: 40px;
    font-weight: bold;
    color: #000000;
  }

  button{
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: transparent;
  }

  .A{
    color: #28AA5C;
  }

  .D{
    color: #DB1313;
  }

  p{
    color: #AA959D;
    font-size: 15px;
    text-align: justify;
  }

  img{
    width: 50px;
    height: 50px;
  }
  .primary-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 2%;
  }
