<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display&display=swap" rel="stylesheet">
</head>
<body>
  <div>

    <div class="MaxA">
      <div class="icono-content">
        <button [routerLink]="['/user-settings']" class="btn-icono">
          <img src="../../../assets/chevron-back-outline.svg">
      </button>
      </div>
      <h3 class="title">Fakebook</h3>
    </div>

    <div class="MaxB">
      <div>
        <p class="subTitle">Change your password</p>
      </div>

      <div>
        <input type="text" (change)="handlePasswordChange($event)" placeholder="  Your new password here" class="txt">
      </div>

      <div>
        <button (click)="handleConfirmClick()" class="btn">Confirm</button>
      </div>
    </div>

  </div>
</body>
</html>
